<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <img src="/images/work1.jpg" />
    <h1>Sigmund Freud</h1>
    <p>
      Sigmund Freud (1856 to 1939) was the founding father of psychoanalysis, a
      method for treating mental illness and also a theory which explains human
      behaviour. Freud believed that events in our childhood have a great
      influence on our adult lives, shaping our personality. For example,
      anxiety originating from traumatic experiences in a person's past is
      hidden from consciousness, and may cause problems during adulthood (in the
      form of neuroses). 
      <p>
        Thus, when we explain our behaviour to ourselves or
      others (conscious mental activity), we rarely give a true account of our
      motivation. This is not because we are deliberately lying. While human
      beings are great deceivers of others; they are even more adept at
      self-deception.</p><p> Freud's life work was dominated by his attempts to find
      ways of penetrating this often subtle and elaborate camouflage that
      obscures the hidden structure and processes of personality. His lexicon
      has become embedded within the vocabulary of Western society.</p> 
       Words he
      introduced through his theories are now used by everyday people, such as
      anal (personality), libido, denial, repression, cathartic, Freudian slip,
      and neurotic.
    </p>
  </body>
</html>
