<html>
<body class="worksbody">
<br/>
    <ul><h1>Works</h1>
    <ul><br /><h4> Essays on the Theory of Sexuality (1905)</h4>
    <p>
      Three Essays on the Theory of Sexuality, or Drei Abhandlungen zur
      Sexualtheorie, is considered one of Freud's most important works. In these
      essays, he outlines his theory of psychosexual development and introduces
      other important concepts including the Oedipus complex, penis envy, and
      castration anxiety.
    </p>
</ul>
<ul>
      <br />
      <h4>Jokes and Their Relation to the Unconscious (1905)</h4>
      <p>
        In Jokes and Their Relation to the Unconscious, or Der Witz und seine
        Beziehung zum Unbewußten, Freud observed how jokes, much like dreams,
        could be related to unconscious wishes, desires, or memories. Freud's
        theory of humor is based on his theory of the id, ego, and superego.
        According to Freud, the superego is what allows the ego to generate and
        express humor.
      </p>
    </ul>
    <ul>
      <br /> <h4>Totem and Taboo (1913)</h4>
      <p>
        Totem and Taboo: Resemblances Between the Mental Lives of Savages and
        Neurotics, or Totem und Tabu: Einige Übereinstimmungen im Seelenleben
        der Wilden und der Neurotiker, is a collection of four essays that apply
        psychoanalysis to other fields including religion, anthropology, and
        archaeology.
      </p>
    </ul>
  </ul>
</ul>
</body> 
</html>
